html {
    background-color: black;
}

#headerDiv {
    background-color:rgb(20, 11, 35);
    height: 50px;;
    color: rgb(201, 201, 201);
}

#special-buttons {
    background-color:rgb(30, 18, 49);
    width:100%;
    height: 10%;
    align-content: center;
    align-self: center;
}

.changebutton {
    width: 19%;
    height: 50px;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(30, 18, 49);
    color: azure;
}

div{
    color: rgb(226, 222, 245);
}

footer {
    color: rgb(89, 144, 184);
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

